In [24]:
from boston_analytics_example import load_data_collection, get_public_request
import pandas as pd
import matplotlib

sources = """
data_sources:
   MARoadwayEvents:
      url: "https://www.massdot.state.ma.us/feeds/MARoadwayEventsXML.aspx"
      authRequired: False
      responseType: 'xml'
   MassDotRTTMFeed:
      url: "https://www.massdot.state.ma.us/feeds/traveltimes/RTTM_feed.aspx"
      authRequired: False
      responseType: 'xml'
   BostonPoliceIncidents:
      url: "https://data.cityofboston.gov/resource/29yf-ye7n.json"
      authRequired: False
      responseType: 'json'
   VisionZeroResidentSubmissions:
      url: "http://bostonopendata.boston.opendata.arcgis.com/datasets/5bed19f1f9cb41329adbafbd8ad260e5_0.geojson"
      authRequired: False
      responseType: 'json'
"""

sources = load_data_collection(sources)
traffic_data = []
for source in sources:
    if source.responseType == 'json':
        response = get_public_request(source)
        result = pd.read_json(response.content)
        traffic_data.append(result)

In [25]:
thing = traffic_data[0]
thing.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>:@computed_region_aywg_kpfh</th>
      <th>day_of_week</th>
      <th>district</th>
      <th>hour</th>
      <th>incident_number</th>
      <th>lat</th>
      <th>location</th>
      <th>long</th>
      <th>month</th>
      <th>occurred_on_date</th>
      <th>offense_code</th>
      <th>offense_code_group</th>
      <th>offense_description</th>
      <th>reporting_area</th>
      <th>shooting</th>
      <th>street</th>
      <th>ucr_part</th>
      <th>year</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>10063.0</td>
      <td>Wednesday</td>
      <td>C6</td>
      <td>8</td>
      <td>I162083519</td>
      <td>42.332850</td>
      <td>{'type': 'Point', 'coordinates': [-71.044172, ...</td>
      <td>-71.044172</td>
      <td>10</td>
      <td>2016-10-12T08:01:00.000</td>
      <td>2403</td>
      <td>Disorderly Conduct</td>
      <td>DISTURBING THE PEACE</td>
      <td>220.0</td>
      <td>NaN</td>
      <td>G ST</td>
      <td>Part Two</td>
      <td>2016</td>
    </tr>
    <tr>
      <th>1</th>
      <td>10067.0</td>
      <td>Sunday</td>
      <td>E5</td>
      <td>15</td>
      <td>I162097035</td>
      <td>42.293142</td>
      <td>{'type': 'Point', 'coordinates': [-71.122044, ...</td>
      <td>-71.122044</td>
      <td>11</td>
      <td>2016-11-27T15:00:00.000</td>
      <td>615</td>
      <td>Larceny From Motor Vehicle</td>
      <td>LARCENY THEFT OF MV PARTS &amp; ACCESSORIES</td>
      <td>564.0</td>
      <td>NaN</td>
      <td>ARCHDALE RD</td>
      <td>Part One</td>
      <td>2016</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10058.0</td>
      <td>Monday</td>
      <td>B3</td>
      <td>15</td>
      <td>I162083378</td>
      <td>42.302506</td>
      <td>{'type': 'Point', 'coordinates': [-71.083294, ...</td>
      <td>-71.083294</td>
      <td>10</td>
      <td>2016-10-10T15:00:00.000</td>
      <td>724</td>
      <td>Auto Theft</td>
      <td>AUTO THEFT</td>
      <td>458.0</td>
      <td>NaN</td>
      <td>MICHIGAN AVE</td>
      <td>Part One</td>
      <td>2016</td>
    </tr>
    <tr>
      <th>3</th>
      <td>NaN</td>
      <td>Monday</td>
      <td>C6</td>
      <td>23</td>
      <td>I152066279</td>
      <td>NaN</td>
      <td>{'type': 'Point', 'coordinates': [0, 0]}</td>
      <td>NaN</td>
      <td>8</td>
      <td>2015-08-10T23:47:00.000</td>
      <td>301</td>
      <td>Robbery</td>
      <td>ROBBERY - STREET</td>
      <td>214.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Part One</td>
      <td>2015</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10056.0</td>
      <td>Thursday</td>
      <td>B2</td>
      <td>6</td>
      <td>I162081720</td>
      <td>42.325699</td>
      <td>{'type': 'Point', 'coordinates': [-71.087905, ...</td>
      <td>-71.087905</td>
      <td>10</td>
      <td>2016-10-06T06:50:00.000</td>
      <td>3801</td>
      <td>Motor Vehicle Accident Response</td>
      <td>M/V ACCIDENT - OTHER</td>
      <td>299.0</td>
      <td>NaN</td>
      <td>CIRCUIT ST</td>
      <td>Part Three</td>
      <td>2016</td>
    </tr>
  </tbody>
</table>
</div>

In [26]:
thing.columns

Index([':@computed_region_aywg_kpfh', 'day_of_week', 'district', 'hour',
       'incident_number', 'lat', 'location', 'long', 'month',
       'occurred_on_date', 'offense_code', 'offense_code_group',
       'offense_description', 'reporting_area', 'shooting', 'street',
       'ucr_part', 'year'],
      dtype='object')

In [27]:
day_of_week_offence_count = thing\
    .groupby(['day_of_week']).size()

In [29]:
day_of_week_offence_count.plot()