In [1]:
from boston_analytics_example import load_data_collection, get_public_request
import pandas as pd

sources = """
data_sources:
   MARoadwayEvents:
      url: "https://www.massdot.state.ma.us/feeds/MARoadwayEventsXML.aspx"
      authRequired: False
      responseType: 'xml'
   MassDotRTTMFeed:
      url: "https://www.massdot.state.ma.us/feeds/traveltimes/RTTM_feed.aspx"
      authRequired: False
      responseType: 'xml'
   BostonPoliceIncidents:
      url: "https://data.cityofboston.gov/resource/29yf-ye7n.json"
      authRequired: False
      responseType: 'json'
   VisionZeroResidentSubmissions:
      url: "http://bostonopendata.boston.opendata.arcgis.com/datasets/5bed19f1f9cb41329adbafbd8ad260e5_0.geojson"
      authRequired: False
      responseType: 'json'
"""

sources = load_data_collection(sources)
traffic_data = []
for source in sources:
    if source.responseType == 'json':
        response = get_public_request(source)
        result = pd.read_json(response.content)
        traffic_data.append(result)

In [2]:
thing = traffic_data[0]
thing.describe()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>:@computed_region_aywg_kpfh</th>
      <th>hour</th>
      <th>lat</th>
      <th>long</th>
      <th>month</th>
      <th>offense_code</th>
      <th>reporting_area</th>
      <th>year</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>863.000000</td>
      <td>1000.000000</td>
      <td>875.000000</td>
      <td>875.000000</td>
      <td>1000.000000</td>
      <td>1000.000000</td>
      <td>875.000000</td>
      <td>1000.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>10330.808806</td>
      <td>13.768000</td>
      <td>42.126764</td>
      <td>-70.761135</td>
      <td>9.087000</td>
      <td>2244.733000</td>
      <td>367.211429</td>
      <td>2015.963000</td>
    </tr>
    <tr>
      <th>std</th>
      <td>1412.176753</td>
      <td>5.812569</td>
      <td>2.924420</td>
      <td>4.730327</td>
      <td>2.446102</td>
      <td>1156.104273</td>
      <td>241.276586</td>
      <td>0.188856</td>
    </tr>
    <tr>
      <th>min</th>
      <td>165.000000</td>
      <td>0.000000</td>
      <td>-1.000000</td>
      <td>-71.172440</td>
      <td>1.000000</td>
      <td>111.000000</td>
      <td>2.000000</td>
      <td>2015.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>10055.000000</td>
      <td>10.000000</td>
      <td>42.299956</td>
      <td>-71.094488</td>
      <td>9.000000</td>
      <td>1102.000000</td>
      <td>160.000000</td>
      <td>2016.000000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>10060.000000</td>
      <td>15.000000</td>
      <td>42.330567</td>
      <td>-71.074424</td>
      <td>10.000000</td>
      <td>2647.000000</td>
      <td>326.000000</td>
      <td>2016.000000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>10064.000000</td>
      <td>18.000000</td>
      <td>42.350576</td>
      <td>-71.062303</td>
      <td>10.000000</td>
      <td>3125.000000</td>
      <td>516.500000</td>
      <td>2016.000000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>17239.000000</td>
      <td>23.000000</td>
      <td>42.392740</td>
      <td>-1.000000</td>
      <td>12.000000</td>
      <td>3831.000000</td>
      <td>944.000000</td>
      <td>2016.000000</td>
    </tr>
  </tbody>
</table>
</div>